body {
    /* border: 1px solid green !important; */
    font-family: 'Lato', sans-serif !important;
    color: #2d3c49;
    font-weight: 300 !important;
}

.title-logo {
    margin-top: 20px;
    max-width: 80px !important;
}

.title-super {
    margin-bottom: -2px;
}

.text-thin {
    font-weight: 100;
}

.text-mute {
    color: #7d97ad;
}

hr {
    border: solid #7d97ad !important;
    border-width: 3px 0 0 !important;
}
